header{
    width: 100%;
    height: 80px;
    background-color: #0f0f0f;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 100px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    min-width: 200px;
}#span-hacki{
    color: #c20000;
}#span-scp{
    color: #fff;
}

.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
    list-style-type: none;
}
.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.6s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color: #000000;
    background-color: #f8eded;
}
.nav-bar ul li a.active{
    color: #000000;
    background-color: #918585;
    text-shadow: 1px 1px 10px #ffffff;
}
@media only screen and (max-width: 1220px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1000px){
    header{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 800px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background-color: #fefefe;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #292424f8;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
    }
}